*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:cursive;
    font-size: 1.3rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: aqua;
    padding: 8px 30px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: darkgrey;
    color: white;
    box-shadow: 0 0 15px yellow;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color:black;
    height: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('forest_fog_trees_135140_1440x900.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
}
.headings{
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    color: white;
}
#about{
    display: flex;
    flex-direction: column;
    margin-top: 670px;
    justify-content: center;
    text-align: center;
    background:url('blue_background.jpg') no-repeat center center/cover;
    color: aliceblue;
    font-size: larger;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: larger;
}
#intro h2{
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-size: larger;
}
#skills{
    display: flex;
    flex-direction: column;
    background: url('darkblue.jpg') no-repeat center center/cover;   
    height: 730px;
    font-size: larger;
}
.gallery
{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: larger;
    
}
#projects{
    display: flex;
    flex-direction: column;
    background: url('darkdarkblue.jpg') no-repeat center center/cover;
    font-size: larger;  
    height: 660px;
}
.project{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: larger;
}
#certificates{
    display: flex;
    flex-direction: column;
    background: url('darkdarkblue.jpg') no-repeat center center/cover;
    font-size: larger;
    height: 700px;
}
.certificate{
    font-size: larger;
    justify-content: center;
    text-align: center;
    color: white;
}
