#home{
    height: 200px;
}
.main{
    margin-top: 3px;
}
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
.heading{
    font-size: 2.5rem;
}
#about{
    flex-direction: column;
    align-items: center;
}
#intro{
    text-align: center;
}